In [1]:
import numpy as np 
import yfinance as yf 
from datetime import timedelta, datetime, date

In [54]:
# Telchargement des donnees de l'aciton 

stock_name = "AAPL"
end_date = datetime.today()
start_date = end_date - timedelta(days = 365) 

stock_data = yf.download(
    stock_name, 
    start = start_date, 
    end = end_date
)
stock_data.tail()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800
2024-01-02,187.149994,188.440002,183.889999,185.639999,185.639999,82488700
2024-01-03,184.220001,185.880005,183.429993,184.250000,184.250000,58414500
2024-01-04,182.149994,183.089996,180.880005,181.910004,181.910004,71919900
2024-01-05,182.149994,182.759995,181.759995,181.860001,181.860001,8259073

In [59]:
# Calul de la volatilite de l'action 

daily_returns = stock_data["Adj Close"].pct_change(1)
stock_volatility = daily_returns.std()
print("Daily", stock_name, "volatility", stock_volatility)

Daily AAPL volatility 0.012753464970336909

In [74]:
# Parametres d'une option europeenne 

stock_price = stock_data["Adj Close"]
strike_price = stock_price # at-the-money

risk_free_rate = 0.04
maturity = 1.0 # en annee 

print("Stock price : ", stock_price)

Stock price :  Date
2023-01-05    124.325089
2023-01-06    128.899521
2023-01-09    129.426559
2023-01-10    130.003342
2023-01-11    132.748001
                 ...
2023-12-29    192.529999
2024-01-02    185.639999
2024-01-03    184.250000
2024-01-04    181.910004
2024-01-05    181.860001
Name: Adj Close, Length: 252, dtype: float64

In [111]:
# Fonction afin de calculer une option européenne avec la méthode de Monte Carlo 

def european_option_price(S0, K, r, v, T, nSim, flag): 
    z = np.random.standard_normal(nSim)
    S_fwd = S0 * np.exp((r-0.5 * v**2)*T + v*np.sqrt(T)*z)

    if flag == "call":
        payoff = np.maximum(S_fwd - K, 0)
    elif flag =="put":   
        payoff =  np.maximum(K - S_fwd, 0)
    else : 
        print("incorrect flag") 
        return 
    
    return np.exp(-r*T) * np.sum(payoff)/nSim

In [8]:
nSim = 100000
stock_price = 100.0
strike_price = 100.0
risk_free_rate = 0.05
stock_volatility = 0.2
maturity = 1.0
nSim = 100000

call_price = european_option_price(
    stock_price,
    strike_price, 
    risk_free_rate,
    stock_volatility,
    maturity, 
    nSim, 
    "call"
)

print("Call price : ", call_price)

Call price :  10.410256622637416